@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -1px;
}
body {
  background-color: #e1e1e1;
}
.container {
  margin: 2% 16%;
  display: flex;
  flex-wrap: wrap;
}
.Upper_Row {
  height: 50%;
  width: 100%;
  background-color: #f8f8f8;
  padding: 3% 3% 1% 3%;
  border-radius: 30px 30px 0px 0px;
}
.row1 {
  height: 40%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.row1_col1 {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
.menu_btn {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  padding: 1em;
  background-color: rgb(237, 237, 243);
}
.logo {
  height: 50px;
  width: 50px;
}
.financial {
  font-size: 20px;
}

.row1_col2 {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
.add {
  height: 60px;
  width: 60px;
}
.Pro_img {
  height: 60px;
  width: 60px;
}
.pro_Name {
  font-size: 20px;
  margin-top: 6px;
  font-weight: bold;
  padding-right: 5em;
}

.searchbar {
  height: 60px;
  width: 60px;
}
.search_here {
  font-size: 15px;
  line-height: 390%;
}
/* Row 2 */
.row2 {
  margin-top: 2.2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.row2_col1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.date {
  font-weight: 400;
  color: rgb(7, 9, 10);
  border: 2px solid #e9e9e9;
  border-radius: 100px;
  font-size: x-large;
  padding: 15px 23px;
}
.month {
  font-size: 1em;
  padding-right: 20px;
  border-right: 1.5px solid #9d9d9d;
  font-weight: bold;
}

.link {
  text-decoration: none;
  color: #ffffff;
  background-color: #e16449;
  padding: 10px 25px;
  border-radius: 10em;
  font-weight: 200;
}

.link {
  padding-left: 25px;
  font-weight: lighter;
}

.fa-arrow-right{
    padding-left: 25px;
}

.fa-regular {
  border: 2px solid #e9e9e9;
  padding: 1em;
  border-radius: 1.8em;
}

/* row 2 right side */
.row2_col2 {
  display: flex;
  gap: 5em;
}
.hey {
  padding: 1em;
}
.mic {
  height: 7em;
  width: 7em;
  padding: 1em;
}

/* Lower over all Contents */
.Lower_Row {
  height: 65vh;
  width: 100%;
  display: flex;
  background-color: #ffffff;
  border-radius: 0px 0px 20px 20px;
}

/* content Left */

.col_1_left {
  width: 110vh;
  padding: 1em 0.5em 0em 1em;
  /* border: 2px solid  red ; */
}
.col_1_row1_upper {
  height: 38%;
  padding: 0.5%;
  display: flex;
}
.col_1_sub1 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.brightness {
  display: flex;
  flex-direction: column-reverse;
  height: 15vh;
  width: 1.2em;
  border: 2px solid #554d4d2f;
  border-radius: 30px;
  text-align: center;
  padding: 3px;
  margin-left: 15px;
  font-size: 26px;
}

.share {
  height: 60px;
  width: 60px;
  margin-right: 20px;
}

/*  Debit Cards */

.card1,
.card2 {
  display: flex;
  flex-wrap: wrap;
  height: 105%;
  border: 2px solid #554d4d07;
  width: 82%;
  margin-right: 10px;
  border-radius: 20px;
  background-color: #f8f8f8;
}

.card1{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.card1_upper {
  height: 58%;
  width: 95%;
  border: 2px solid #ffffff;
  border-radius: 20px;
  background-color: #ffffff;
  padding: 7px;
}
.card1_sub_div1 {
  display: flex;
  justify-content: space-between;
  
}
.visa {
  color: black;
  font-size: medium;
  font-weight: 900;
  padding-left: 8px;
}

#dropdown {
  padding: 2px 10px;
  border-radius: 2em;
  border: 2px solid #46444411;
  background-color: #ffffff28;
}

.card1_sub_div2{
margin: 8px 0px 2px 5px;
}

.linked{
    color: #9d9d9d ;
    font-size: 0.8em;

}
.linked_num{
    color: black;
    font-weight: 700;
}
.card1_sub_div3{
    display: flex;
margin: 0px  5px;


}
.button1 , .button2{
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    padding: 0.5em 3em ;
    margin-right: 0.5em;
    font-size: 0.7em;
}
.button1{
background-color: black;
color: white;
font-weight: 300;
}

.button2{
 background-color: #46444444;
 color: black;
}

/*  CArd 1 Lower */
.card1_lower{
    display: flex;
    flex-direction: column;
}

.card1_low{
    color: #9d9d9d ;
    font-size: 0.8em;
    padding: 4px;
}

.dollar{
    display: flex;
     height: 2em;
     padding: 0.1em;
     justify-content: space-between;
}
.orange{
    color: orangered;
    margin-right: 5px;
    font-size: 1.2em;
}
.amount{
    font-size: 1.2em;
    font-weight: 600;
    color: black;
}

.edit{
    color: orangered;
    font-size: 12px;
    font-weight: 500;
    margin-right: 4px;
}

/* Card 2 Upper*/
.card2{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.card2_upper{
    height: 45%;
    width: 95%;
    border-radius: 20px 20px 20px 20px;
  background-color: #ffffff;
  padding: 0.5em;
}

.card2_upper_sub1{
    display: flex;
    justify-content: space-between;
    
}

.arrow2{
    height: 2.8em;

}

#dropdown2{
    padding: 0px 18px;
  border-radius: 2em;
  border: 2px solid #46444411;
  background-color: #ffffff28;
}

.total{
    margin-top: 5px;
}

/* Card 2 lower */
.lower_row1{
    display: flex;
    justify-content: space-between ;
    padding: 0.2em;
}
.card2_lower{
    color: #9d9d9d ;
    font-size: 0.9em;
    margin: 0em 1em 0em 0.3em;
}

/* muliple Rounds graph*/
.box1{
    display: flex;
    flex-direction: column;
  background-color: #f8f8f8;
  height: 97%;
  width: 38%;
  border-radius: 2em;
}

.card1_sub_div2{
    padding: 0.7em;
}

.round_img{
    height: 15em;
    width: 15em;
    padding-left: 52px;
}

/* Rounds */
.system_lock,
.growrate {
  height: 7em;
  width: 7em;
}

/* Activity Manager */
.row2_lower {
  margin-top: 25px;
  height: 55%;
  display: flex;
  gap: 1em;
}

.box2 {
  height: 97%;
  width: 60%;
  background-color: #f8f8f8;
  border-radius: 2em;
}
.box2_sub1{
display: flex;
justify-content: space-between;
padding: 0.8em;
}

.activity{
    padding: 1em;
    font-size: 1em;
}

.setting{
    height: 4em;
}

/* 2nd row in activity manager */
.box2_sub2{
    display: flex;
    gap: 5px;
    justify-content: space-between;

}

.search2{
    height: 3em;
    width: 3em;
    padding-left: 15px;
}

.searchbar_words{
   font-size: 1em;
   padding-right: 75px;
}

.team{
    height: 3em;

}

/* 3rd row in activity */
.box2_sub3{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hr{
    height: 11em;
    width: 30em;

}


/* Right Side Content 2 */

.col_2_ryt {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.col_2_row1 {
  display: flex;
}

/* Box 1 */
.box1_1,
.box1_2 {
  height: 20vh;
  width: 15vh;
  border: 6px solid #554d4d07(252, 0, 0);
  margin: 9px 10px;
  border-radius: 2em;
  background-color: #f8f8f8;
  padding: 0.6em
}

.clock{
    height: 3em;
    padding: 0.8em 0em 0em 0.8em;
}

.dayys{
    color: black;
    font-weight: 700;
    padding-left: 10px;
}

.designs{
    height: 2.8em;
    padding: 0.6em 0em;
}

/* 2nd box ryt */
.graph{
    height: 11em;
    
}

/* box 3 */
.col_2_row2 {
  height: 25%;
  width: 97%;
  border-radius: 2em;
  background-color: #f8f8f8;
  padding: 0.3em;

}

.flex{
    display: flex;
    justify-content: space-between;
}

.img{
    height: 3em;
    padding:  0.5em 0em 0em 0.5em;
}

.amounts{
    padding: 0.5em  1em  0em  0em ;

}

.line{
    height: 40px;
    width: 100%;

}

.main{
  display: flex;
  justify-content: space-between;
}

.flow{
  margin: 0.1em 0.5em 0em 2em; 

}

.stocks{
  font-size: 1em; 
  font-weight: 600;
}

.Num{
  color: orangered;
  padding: 0.3em 1em;
  border: 1px solid black;
  border-radius: 2em ;
  border: 2px solid #46444411;
  margin: 1em 0.8em;
  text-decoration: none;
  font-weight: 500;

}

/* box 4 */
.col_2_row3 {
  height: 33%;
  width: 97%;
  background-color: #f8f8f8;
  border-radius: 2em;
}

.dot{
  display: flex;
  justify-content: space-between;
  padding: 0.6em 1em;
}

.dotted{
  height: 1em;
  padding-top: 0.2em;
}

.fa-xmark{
  border: 2px solid #46444411;
   border-radius: 2em;
   padding: 5px 9px;
   font-size: 1em;
   background-color: #f8f8f8;
}

.dot2{
  padding: 0.3em 1.5em 0em 1.5em;
}

.how{
  font-weight: 600;
  font-size: 1.3em;
}

.symbol{
  height: 4em;
  padding: 0em 0em 1em 2.3em;
}
